@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./alert.css";
@import "./bottom-nav.css";
@import "./button.css";
@import "./chart.css";
@import "./container.css";
@import "./dashboard.css";
@import "./form.css";
@import "./globals.css";
@import "./group.css";
@import "./modal.css";
@import "./navigation.css";
@import "./profile-menu.css";
@import "./table.css";