/* Modal */
.modal-overlay {
  @apply fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50;
}

.modal-container {
  @apply max-w-md rounded-lg p-6 w-full;
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--border);
}

.modal-actions {
  @apply flex justify-end space-x-3;
}

.modal-button-cancel {
  @apply px-4 py-2 text-sm font-medium  rounded-md;
  background-color: var(--color-secondary);
  color: var(--color-foreground);
}

.modal-button-confirm {
  @apply px-4 py-2 text-sm font-medium text-white bg-primary hover:bg-primary rounded-md;
}

.modal-title {
  @apply text-xl font-semibold mb-4;
}

.modal-text {
  @apply text-sm mb-4;
  color: var(--foreground-muted);
}